/* Global Variables */
:root {
	--border-radius: 15px;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	background-color: #CCC;
	font-size: 50px;
	padding: 10px;
}

/* Mobile first */
.container {
	display: flex;
	flex-flow: column;
	background-color: #EEE;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 1px;
	border-style: solid;
	border-radius: var(--border-radius);
	padding: 15px;
}

#myCanvas {
	flex: 0 1 auto;

	min-width: 200px;
	min-height: 200px;
	max-width: 100%;
	max-height: 100%;

	width: auto;
	height: 50%;

	object-fit: contain;

	margin-bottom: 15px;
}

.controlers {
	position: relative;
	flex: 1 1 auto;
	box-sizing: border-box;
	border: 1px;
	width: 100%;
	border-style: solid;
	border-radius: var(--border-radius);
	padding: 10px;
	overflow: auto;
}

.controler {
	border-bottom: 1px;
	border-bottom-style: solid;
	padding-bottom: 10px;
}

div.controler:nth-last-child(2) {
	border-bottom: none;
	border-bottom-style: none;
	padding-bottom: 0;
}

#render-time {
	position: absolute;
	bottom: var(--border-radius);
	right: var(--border-radius);
}

.control, .send {
	font-size: 0.9em;	
}

input.control[type="number"] {
	width: 4em;
}

input.control[type="range"] {
	width: 100%;
}

.slider {
	width: 100%;
	margin: 0;
}

/* Computer (landscape) */
@media screen and (orientation: landscape) {
	html, body {
		font-size: 40px;
	}

	#myCanvas {
		max-height: 100%;
		max-width: 50%;

		width: 100%;
		height: auto;

		margin-bottom: 0;
		margin-right: 15px;
	}

	.container {
		flex-flow: row;
	}
	
	.control, .send {
		font-size: 0.6em;	
	}

	#render-time {
		font-size: 0.6em;
	}
}
